<% provide(:title, "About") %>
<div class = "center jumbotron">
	<h1>About</h1>
	<p>
		The <a href="http://www.railstutorial.org/" id="link"><em>Ruby on Rails
		Tutorial</em></a> is a
		<a href="http://www.railstutorial.org/book" id="link">book</a> and
		<a href="http://screencasts.railstutorial.org/" id="link">screencast series</a>
		to teach web development with
		<a href="http://rubyonrails.org/" id="link">Ruby on Rails</a>.
		This is the sample application for the tutorial.
	</p>
</div>