<% provide(:title, "Help") %>
<div class = "center jumbotron">
	<h1>Help</h1>

	<p>
		Get help on the Ruby on Rails Tutorial at the 
		<a href="http://www.railstutorial.org/#help" id="link">Rails Tutorial help section</a>
		<a href="http://www.railstutorial.org/book" id="link"><em>Ruby on Rails Tutorial</em>book</a>
	</p>
</div>