<li>
	<% if @user.avatar.blank? %>
        <%= link_to image_tag("avatar_default.jpg", height: 80, width: 80), user %>
	<% else %>
        <%= link_to image_tag(@user.avatar, height: 80, width: 80), user %>
  	<% end %>
	<%= link_to user.name, user , id: "link"%>
	<% if current_user.admin? && !current_user?(user) %>
    	| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  	<% end %>
</li>