<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/" id ="link">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/" id="link">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path, id: "link" %><li>
      <li><%= link_to "About",   about_path, id: "link" %></li>
      <li><%= link_to "Contact", contact_path, id: "link" %></li>
      <li><a href="http://news.railstutorial.org/" id="link">News</a></li>
    </ul>
  </nav>
</footer>